<h1>ログイン画面</h1>
<%= form_tag '/users/login', method: :post do%>
 <%= label_tag :uid, 'ユーザーID' %>
 <%= text_field_tag :uid %>
 <%= label_tag :pass, 'パスワード' %>
 <%= text_field_tag :pass %>

 <%= submit_tag 'ログイン' %>
<%end %>
